
body{
    margin: 0;
    font-family: Whitney, Helvetica Neue,Helvetica,Arial,sans-serif;
}

header{
     background-color: #2a5ee8;
     color: white;
     font-size: 15px;   
}

#main-nav{
    min-height: 74px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#logo{
    display: flex;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-basis: 500px;
    margin-left: -100px;
}

.main{
    display: flex;
    margin-block-start: 0;
}
.jumbotron{
    background-image:url(img/jumbo.png);
    background-size:cover;
    min-height: 780px;
    margin-block-start: 0;
    color: white;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 18px;
}

.container1, .container2, .container3, .container4 {
    padding-right: 15%;
    padding-left: 15%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container2, .container4{
    background-color: whitesmoke;
}
.container1{
    min-height: 662px;
}

.container2{
    min-height: 840px;
}

.container3{
    min-height: 710px;
}

.container4{
    min-height: 1423px;
    text-align: center;
    justify-content: space-evenly;
}

.title1, .title2{
    display: block;
    margin-block-start: 0px;
    font-size: 40px;
}

.title2{
    margin-top: 20px;
    line-height: 57px;
    
}

#stars{
    margin-block-end: -40px;
    height: 44px;
}

footer{
    height: 640px;
    background-color: black;
    color: white;
}

.col1{
    padding-top: 15%;
}

#big{
    width: 1120px;
    padding-bottom: 50px;
}

button{
    padding: 5px;
    height: 50px;
    color: white;
    border-radius: 35px;
    font-size: 17px;
    border-color: rgba(240, 248, 255, 0);
    font-weight: 300;
}


#mac{
    background-color: white;
    color: black;
    width: 200px;
    margin-right: 20px;
}

#mac2{
    background-color: #7289da;
    width: 200px;
}


#apri{
    background-color: black;
    width: 250px;
}

#login{
    height: 35px;
    padding: 13px;
    background-color: white;
    color: blue;
    line-height: 0;
    font-size: 15px;
    width: 75px;  
}

p{
    line-height: 28px;
    font-weight: 400;
}

.col2{
    padding-top: 5%;
}

.colf{
}

footer ul{
    list-style-type:none;
    line-height: 40px;
    font-size: 14px;
}
footer ul li:first-of-type, #titlef{
        color: #7289da;
}
footer ul li:first-of-type{
    font-weight: 600;
    font-size: 15px;
}

footer{
    padding-top: 50px;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #23272a;
}
.f1{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

#f2{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 11px;
}

#sign{
    height: 35px;
    width: 80px;
    background-color: #7289da;
    font-size: 13px;
}

hr{
    color: black;
}


#ita{
    width: 21px;
}

#itxt{
    font-size: 13px;
}

i{
    padding-top: 12px;
    padding-right: 12px;
}
